<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.AdminMapper">

    <select id="adminLogin" resultType="admin">
        select * from tb_admin where name=#{name} and pass=#{pass}
    </select>

    <insert id="adminRegister" parameterType="admin">
        insert into tb_admin (name, pass) value (#{name}, #{pass})
    </insert>

    <select id="adminList" resultType="admin">
        select * from tb_admin
    </select>

    <delete id="adminDelete">
        delete from tb_admin where id=#{id}
    </delete>

    <update id="adminModify">
        update tb_admin
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name=#{name},
            </if>
            <if test="pass != null">
                pass=#{pass},
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="adminFindById" resultType="admin">
        select * from tb_admin where id=#{id}
    </select>

    <select id="adminFindUsers" resultType="user">
        select * from tb_user
    </select>

    <select id="adminFindUserById" resultType="user">
        select * from tb_user where id=#{id}
    </select>

    <update id="adminUpadteUser">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name=#{name},
            </if>
            <if test="tel != null">
                tel=#{tel},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="pass != null">
                pass=#{pass},
            </if>
            <if test="businessman==true">
                businessman=1,
            </if>
            <if test="businessman==false">
                businessman=0
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="adminDeleteUserById">
        delete from tb_user where id=#{id}
    </delete>

    <insert id="adminInsertUser" parameterType="user">
        insert into tb_user (name, tel, email, address, pass, businessman)
        value (#{name}, #{tel}, #{email}, #{address}, #{pass}, #{businessman})
    </insert>

</mapper>