<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.InstypeMapper">

    <select id="instypeList" resultType="instype">
        select * from tb_instype
    </select>

    <select id="findInstypeById" resultType="instype">
        select * from tb_instype
        where id=#{id}
    </select>

    <update id="instypeModify" parameterType="instype">
        update tb_instype
        set name=#{name}, picpath=#{picpath}, description=#{description}
        where id=#{id}
    </update>

    <delete id="instypeDelete">
        delete from tb_instype
        where id=#{id}
    </delete>

    <insert id="instypeInsert" parameterType="instype">
        insert into tb_instype (name, picpath, description)
        value (#{name},#{picpath},#{description})
    </insert>

</mapper>