<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.InstrumentMapper">

    <resultMap id="instrumentToInstype" type="instrument">
        <id property="id" column="aid"></id>
        <result property="name" column="aname"></result>
        <result property="price" column="aprice"></result>
        <result property="stock" column="astock"></result>
        <result property="picpath" column="apicpath"></result>
        <result property="brand" column="abrand"></result>
        <result property="description" column="adescription"></result>

        <association property="instype" javaType="instype">
            <id property="id" column="bid"></id>
            <result property="name" column="bname"></result>
            <result property="picpath" column="bpicpath"></result>
            <result property="description" column="bdescription"></result>
        </association>
    </resultMap>

    <select id="instrumentList" resultMap="instrumentToInstype">
        select tb_instrument.id aid, tb_instrument.name aname, tb_instype.id bid, tb_instype.name bname,
         tb_instype.picpath bpicpath, tb_instype.description bdescription, tb_instrument.price aprice,
         tb_instrument.stock astock, tb_instrument.picpath apicpath, tb_instrument.brand abrand,
         tb_instrument.description adescription
        from tb_instrument, tb_instype
        where tb_instrument.instype_id = tb_instype.id
    </select>

    <select id="findInstrumentById" resultMap="instrumentToInstype">
        select tb_instrument.id aid, tb_instrument.name aname, tb_instype.id bid, tb_instype.name bname,
         tb_instype.picpath bpicpath, tb_instype.description bdescription, tb_instrument.price aprice,
         tb_instrument.stock astock, tb_instrument.picpath apicpath, tb_instrument.brand abrand,
         tb_instrument.description adescription
        from tb_instrument, tb_instype
        where tb_instrument.instype_id = tb_instype.id and tb_instrument.id=#{id}
    </select>

    <update id="instrumentModify" parameterType="instrument">
        update tb_instrument
        set name=#{name}, instype_id=#{instype.id}, price=#{price}, stock=#{stock}, picpath=#{picpath},
         brand=#{brand}, description=#{description}
        where id=#{id}
    </update>

    <delete id="instrumentDelete" parameterType="integer">
        delete from tb_instrument
        where id=#{id};
    </delete>

    <insert id="instrumentInsert" parameterType="instrument">
        insert ignore
        into tb_instrument (name, instype_id, price, stock, picpath, brand, description)
        values (#{name}, #{instype.id},  #{price},  #{stock},  #{picpath},  #{brand},  #{description});
    </insert>

</mapper>