<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.OrderDetailMapper">

    <resultMap id="orderDetailToUserAndInstrument" type="orderDetail">
        <result property="number" column="number"/>
        <collection property="instrument" resultMap="instrumentToInstype" column="instruments_id"/>
        <collection property="orderMajor" resultMap="orderMajorToUser" column="order_major_id"/>
    </resultMap>

    <resultMap id="orderMajorToUser" type="orderMajor">
        <id property="id" column="major_id"/>
        <result property="total" column="total"/>
        <result property="time" column="time"/>
        <result property="state" column="state"/>
        <association property="user" javaType="user">
            <id property="id" column="user_id"/>
            <result property="name" column="user_name"/>
            <result property="tel" column="tel"/>
            <result property="email" column="email"/>
            <result property="address" column="address"/>
            <result property="pass" column="pass"/>
            <result property="businessman" column="businessman"/>
        </association>
    </resultMap>

    <resultMap id="instrumentToInstype" type="instrument">
        <id property="id" column="instrument_id"/>
        <result property="name" column="instrument_name"/>
        <result property="price" column="instrument_price"/>
        <result property="stock" column="instrument_stock"/>
        <result property="picpath" column="instrument_picpath"/>
        <result property="brand" column="instrument_brand"/>
        <result property="description" column="instrument_description"/>
        <association property="instype" javaType="instype">
            <id property="id" column="instype_id"/>
            <result property="name" column="instype_name"/>
            <result property="picpath" column="instype_picpath"/>
            <result property="description" column="instype_description"/>
        </association>
    </resultMap>


    <select id="orderDetailFindByOrderMajorId" resultMap="orderDetailToUserAndInstrument">
        select tb_user.name user_name,instruments_id,tb_instrument.`name` instrument_name,price instrument_price,tb_instype.`name` instype_name,number,time,state
         from tb_order_detail,tb_instrument,tb_instype,tb_order_major,tb_user
         where order_major_id=#{id}
         and tb_instrument.instype_id=tb_instype.id
         and instruments_id=tb_instrument.id
         and order_major_id=tb_order_major.id
         and tb_user.id=tb_order_major.user_id
    </select>

</mapper>