<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.OrderDetailMapper">

    <resultMap id="orderDetailToUserAndInstrument" type="orderDetail">
        <result property="number" column="number"/>
        <collection property="orderMajor" resultMap="orderMajorToUser" ofType="orderMajor"/>
        <collection property="instrument" resultMap="instrumentToInstype" ofType="instrument"/>
    </resultMap>

    <resultMap id="orderMajorToUser" type="orderMajor">
        <id property="id" column="id"/>
        <result property="total" column="total"/>
        <result property="time" column="time"/>
        <result property="state" column="state"/>
        <association property="user" javaType="user">
            <id property="id" column="user_id"/>
            <result property="name" column="name"/>
            <result property="tel" column="tel"/>
            <result property="email" column="email"/>
            <result property="address" column="address"/>
            <result property="pass" column="pass"/>
            <result property="businessman" column="businessman"/>
        </association>
    </resultMap>

    <resultMap id="instrumentToInstype" type="instrument">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="picpath" column="picpath"/>
        <result property="brand" column="brand"/>
        <result property="description" column="description"/>
        <association property="instype" javaType="instype">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="picpath" column="picpath"/>
            <result property="description" column="description"/>
        </association>
    </resultMap>


    <select id="orderDetailFindByOrderMajorId" resultMap="orderDetailToUserAndInstrument">
        select * from tb_order_detail where order_major_id=#{id}
    </select>

</mapper>