<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.OrderDetailMapper">

    <resultMap id="orderDetailTo" type="orderDetail">
        <result property="number" column="number"></result>
        <association property="orderMajor" javaType="orderMajor" >
            <id property="id" column="mid"></id>
            <result property="user.id" column="user_id"></result>
            <result property="total" column="total"></result>
            <result property="time" column="time"></result>
            <result property="state" column="state"></result>
        </association>
        <association property="instrument" javaType="instrument" >
            <id property="id" column="iid"></id>
            <result property="name" column="name"></result>
            <result property="instype.id" column="instype_id"></result>
            <result property="price" column="price"></result>
            <result property="stock" column="stock"></result>
            <result property="picpath" column="picpath"></result>
            <result property="brand" column="brand"></result>
            <result property="description" column="description"></result>
        </association>
    </resultMap>

    <select id="orderDetailFindByOrderMajorId" resultMap="orderDetailTo">
        select tb_order_major.id mid, tb_instrument.id iid, number
        from tb_order_detail, tb_order_major, tb_instrument
        where tb_order_detail.order_major_id=tb_order_major.id
            and tb_order_detail.instrument_id=tb_instrument.id
            and tb_order_detail.order_major_id=#{id}
    </select>

</mapper>