<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.UserMapper">

    <select id="userLogin" resultType="user">
        select * from tb_user where name=#{name} and pass=#{pass}
    </select>

    <insert id="userRegister" parameterType="user">
        insert into tb_user (name, tel, email, address, pass, date, isBusinessman)
        value (#{name}, #{tel}, #{email}, #{address}, #{pass}, #{date}, #{isBusinessman})
    </insert>

    <update id="userModify" parameterType="user">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name=#{name},
            </if>
            <if test="tel != null">
                tel=#{tel},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="pass != null">
                pass=#{pass}
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="userDelete" parameterType="user">
        delete from tb_user where id=#{id}
    </delete>

</mapper>