<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuerhuixue.mapper.UserMapper">

    <select id="userLogin" resultType="user">
        select *
        from tb_user
        where name=#{name} and pass=#{pass}
    </select>

    <insert id="userRegister" parameterType="user">
        insert ignore
        into tb_user (name, tel, email, address, pass, businessman)
        value (#{name}, #{tel}, #{email}, #{address}, #{pass}, #{businessman})
    </insert>

    <update id="userModify" parameterType="user">
        update tb_user
        set name=#{name}, tel=#{tel}, email=#{email}, address=#{address}, pass=#{pass}
        where id=#{id}
    </update>

    <delete id="userDelete" parameterType="user">
        delete
        from tb_user
        where id=#{id}
    </delete>

    <select id="userNameFindById" resultType="java.lang.String">
        select name from tb_user where id=#{id}
    </select>

</mapper>