body{
	margin: 0;
}

.top{
	width: 100%;
	height: 80px;
	background-color: #707070;
}
.top p{
	position: absolute;
	margin: 0;
	font-family: 华文行楷;
	font-size: 40px;
	color: #ffffff;
	margin-left: 100px;
	margin-top: 25px;
}
.top .tip{
	font-family: "宋体";
	position: absolute;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 258px;
	margin-top: 35px;
}

.content_top{
	width: 100%;
	height: 100px;
	background-color: #EEEEEE;
}

.content_top .order{
	width: 100px;
	height: 85px;
	margin-left: 250px;
	padding-top: 15px;
	text-align: center;
	float: left;
	position: relative;
}
.content_top .order p{
	margin: 0;
	margin-left: 25px;
	display: block;
	width: 45px;
	height: 45px;
	background-color: cornflowerblue;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	border-radius: 25px;
}

.content_top .guide{
	position: absolute;
	float: left;
	margin-left: 350px;
	margin-top: 38px;
	width: 230px;
	height: 2px;
	background: linear-gradient(to right, blue, #00EEEE);
}
.content_top .guide2{
	position: absolute;
	float: left;
	margin-left: 700px;
	margin-top: 38px;
	width: 250px;
	height: 2px;
	background: #00EEEE;
}


.content_bottom{
	width: 100%;
	height: 400px;
	
}
.content_bottom .inputUsername{
	position: absolute;
	margin-top: 30px;
	margin-left: 590px;
}
.content_bottom .inputUsername input{
	border: 2px solid aqua;
	padding: 8px;
	width: 270px;
	border-radius: 5px;
	height: 30px;
}
.content_bottom .inputUsername input:focus{
	border: 2px solid red;
	padding: 8px;
	width: 270px;
	border-radius: 5px;
	height: 30px;
}
.content_bottom .inputUsername button{
	margin-top: 15px;
	width: 135px;
	height: 40px;
	border: 0;
	background-color: blueviolet;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	font-size: 20px;
}
.content_bottom .inputUsername button:hover{
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.content_bottom .question{
	position: absolute;
	margin-top: 30px;
	margin-left: 590px;
	display: none;
}
.content_bottom .question select{
	border: 2px solid aqua;
	padding: 8px;
	width: 250px;
	border-radius: 5px;
	height: 40px;
}
.content_bottom .question input{
	border: 2px solid aqua;
	padding: 8px;
	width: 230px;
	border-radius: 5px;
	height: 20px;
}
.content_bottom .question input:focus{
	border: 2px solid red;
	padding: 8px;
	width: 230px;
	border-radius: 5px;
	height: 20px;
}
.content_bottom .question button{
	margin-top: 15px;
	width: 250px;
	height: 40px;
	border: 0;
	background-color: blueviolet;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	font-size: 20px;
}
.content_bottom .question button:hover{
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.content_bottom .success{
	position: absolute;
	margin-top: 120px;
	margin-left: 650px;
	display: none;
	
}
.content_bottom .success table{
	text-align: center;
}


footer{
	background: #EEEEEE;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 18px;
	font-size: 12px;
}
